[submodule "web-ui"]
	path = open-video-ui/external/web-ui
	url = https://github.com/THEOplayer/web-ui.git
[submodule "android-ui"]
	path = open-video-ui/external/android-ui
	url = https://github.com/THEOplayer/android-ui.git
[submodule "react-native"]
	path = theoplayer/external/react-native-theoplayer
	url = https://github.com/THEOplayer/react-native-theoplayer.git
[submodule "react-native-v4"]
	path = theoplayer_versioned_docs/version-v4/external/react-native-theoplayer
	url = https://github.com/THEOplayer/react-native-theoplayer.git
