[submodule "web-ui"]
	path = open-video-ui/external/web-ui
	url = https://github.com/THEOplayer/web-ui.git
	branch = main
[submodule "android-ui"]
	path = open-video-ui/external/android-ui
	url = https://github.com/THEOplayer/android-ui.git
	branch = main
[submodule "react-native"]
	path = theoplayer/external/react-native-theoplayer
	url = https://github.com/THEOplayer/react-native-theoplayer.git
	branch = master
[submodule "react-native-v4"]
	path = theoplayer_versioned_docs/version-v4/external/react-native-theoplayer
	url = https://github.com/THEOplayer/react-native-theoplayer.git
	branch = master
[submodule "react-native-theoplayer-ui"]
	path = open-video-ui/external/react-native-theoplayer-ui
	url = https://github.com/THEOplayer/react-native-theoplayer-ui.git
	branch = master
[submodule "react-native-v6"]
	path = theoplayer_versioned_docs/version-v6/external/react-native-theoplayer
	url = https://github.com/THEOplayer/react-native-theoplayer.git
	branch = master
