.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureHeadingWithSvg {
  line-height: 0;
}

.featureSvg {
  height: 100px;
  width: 200px;
}

.featureTitle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 0;
}
