.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureCard {
  height: 100%;
  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
}

.featureHeading {
  line-height: 0;
}

.featureImage {
  height: 100px;
  width: 200px;
}
