{
  "x-generator": "NSwag v13.20.0.0 (NJsonSchema v10.9.0.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Millicast API",
    "description": "# Introduction\nControlling publishing for your Millicast account.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.millicast.com"
    }
  ],
  "paths": {
    "/api/v3/account/media/expiration": {
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update Account Media Assets Expiration Rules",
        "description": "Update account level expiration rule for various media asset types.  ",
        "operationId": "Account_UpdateExpirationRules",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMediaAssetExpirationModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfMediaAssetExpirationResponseModel"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account Media Assets Expiration Rule",
        "description": "Get account level expiration rule for various media asset types.  ",
        "operationId": "Account_GetExpirationRules",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfMediaAssetExpirationResponseModel"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/account/media/storage": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List Storage Profiles",
        "description": "List all storage profiles created on your account. ",
        "operationId": "Account_ListStorageProfiles",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "default": "name",
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ListStorageProfilesSortBy"
                }
              ]
            },
            "x-position": 1
          },
          {
            "name": "default",
            "in": "query",
            "description": "Set to true to get the default storage profile on your account",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 3
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100.0,
              "minimum": 1.0
            },
            "x-position": 4
          },
          {
            "name": "desc",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfListOfStorageProfileResponseModel"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create Storage Profile",
        "description": "Create a storage profile identifying the configuration for a cloud storage provider that can receive media assets when they are finished processing. Only one storage profile will be set as a default for the entire account, otherwise you may specify a storage location using the `storageProfileId` on any individual media clip request.",
        "operationId": "Account_CreateStorageProfile",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStorageProfileModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfStorageProfileResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/account/media/storage/{id}": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete Storage Profile",
        "description": "Specify the id of a storage profile you wish to delete. ",
        "operationId": "Account_DeleteStorageProfile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfBoolean"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Storage Profile",
        "description": "Get details of a saved storage profile ",
        "operationId": "Account_GetStorageProfile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfStorageProfileResponseModel"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update Storage Profile",
        "description": "Change the details of a storage profile. ",
        "operationId": "Account_UpdateStorageProfile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "updateModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStorageProfileModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfStorageProfileResponseModel"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/account/media/storage/validate": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Validate Third Party Storage Setup",
        "description": "Validates third party storage is configured with permissions for Dolby.io to upload media assets. \n \n To track the validation result, keep note of the the `id` returned in the response body. If correctly configured, when calling [Get Media Asset](#tag/MediaAssets/operation/MediaAssets_GetMediaAssets), the response should return a successful entry with `id` matching the `id`. \n \n Run once to validate write permissions. If successful, optionally run a second time to confirm that overwriting is allowed. \n \n Note that validation results are only available for 1 hour. ",
        "operationId": "Account_ValidateThirdPartyStorage",
        "requestBody": {
          "x-name": "storageModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaAssetStorageModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfSuccessValidateRecordStorageResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/account/distribution": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Read Account Distribution Settings",
        "description": "Gets account wide distribution settings. Whenever publish tokens are created, these will be the default settings used for features that impact how streams are distributed. \n * geoCascade: controls if and which geographic clusters are included for regional content delivery \n",
        "operationId": "Account_GetAccountDistribution",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfAccountDistributionModel"
                },
                "examples": {
                  "success": {
                    "summary": "success",
                    "value": {
                      "status": "success",
                      "data": {
                        "geoCascade": {
                          "isEnabled": true,
                          "clusters": [
                            "phx-1",
                            "ams-1"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update Account Distribution Settings",
        "description": "Update account wide distribution settings to enable/disable the feature or update the account default cluster list. Whenever publish tokens are created, these will be the default settings used for features that impact how streams are distributed. \n'[\"all\"]' could be used in place of cluster list to cascade stream to all existing and any future clusters available to the account.\nEmpty cluster list is not allowed when enabling account wide distribution settings. Cluster list is translated to '[\"all\"]' clusters if not specified or set to null.\nCluster list is ignored when geo cascade is disabled.",
        "operationId": "Account_UpdateAccountDistribution",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountDistributionModel"
              },
              "examples": {
                "update": {
                  "summary": "update",
                  "value": {
                    "geoCascade": {
                      "isenabled": true,
                      "clusters": [
                        "phx-1",
                        "ams-1",
                        "lon-1"
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfAccountDistributionModel"
                },
                "examples": {
                  "success": {
                    "summary": "success",
                    "value": {
                      "status": "success",
                      "data": {
                        "geoCascade": {
                          "isEnabled": true,
                          "clusters": [
                            "phx-1",
                            "ams-1"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                },
                "examples": {
                  "failure": {
                    "summary": "failure",
                    "value": {
                      "status": "fail",
                      "data": {
                        "message": "Geo cascade Clusters list cannot be empty"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/account/security": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Read Account Security Settings",
        "description": "Gets account wide security settings. If a Token (either Publish or Subscribe) does not define any security settings, the account wide rules are used.",
        "operationId": "Account_GetAccountSecurity",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessAccountGeoRestrictions"
                },
                "examples": {
                  "allowed": {
                    "summary": "allowed",
                    "value": {
                      "status": "success",
                      "data": {
                        "allowedCountries": [
                          "US"
                        ],
                        "deniedCountries": []
                      }
                    }
                  },
                  "denied": {
                    "summary": "denied",
                    "value": {
                      "status": "success",
                      "data": {
                        "allowedCountries": [],
                        "deniedCountries": [
                          "UK"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update Account Security Settings",
        "description": "Update account wide security settings. Updated to an empty array `[]` removes all rules of that type.",
        "operationId": "Account_UpdateAccountSecurity",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountGeoModel"
              },
              "examples": {
                "allowed": {
                  "summary": "allowed",
                  "value": {
                    "allowedCountries": [
                      "US"
                    ],
                    "deniedCountries": []
                  }
                },
                "denied": {
                  "summary": "denied",
                  "value": {
                    "allowedCountries": [],
                    "deniedCountries": [
                      "UK"
                    ]
                  }
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessAccountGeoRestrictions"
                },
                "examples": {
                  "allowed": {
                    "summary": "allowed",
                    "value": {
                      "status": "success",
                      "data": {
                        "allowedCountries": [
                          "US"
                        ],
                        "deniedCountries": []
                      }
                    }
                  },
                  "denied": {
                    "summary": "denied",
                    "value": {
                      "status": "success",
                      "data": {
                        "allowedCountries": [],
                        "deniedCountries": [
                          "UK"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/media/assets": {
      "post": {
        "tags": [
          "MediaAssets"
        ],
        "summary": "Create Media Asset",
        "description": "Create a live clip from an ongoing live stream. You must provide the stream name and start time, and once processing is complete the media asset of the type clip will be available for retrieval.\n \nIf a stop time is not specified, the time the request was received will be used. The clip duration must be a minimum of ten (10) seconds and cannot exceed eight (8) hours.\n \n There are a few cases where more than one clip will be generated from a single request.\n \n 1. A stream went offline during the time range will generate separate clips for the period before and after the restart.\n2. A stream that is configured for multi-source when a simulcastId is not given in the request to select a single layer.\n 3. A stream that is configured for multi-bitrate contribution or redundant fallback ingest and a sourceId is not given in the request to specify which to use. In that scenario, sources will be ranked based on the following criteria and the highest ranked source is selected for clipping: \n * priority \n* quality \n* start time \n\n \n By using an `Idempotency-Key` header in your requests, you can avoid generating more than one identical clip should the same request be received more than once. To avoid unnecessary charges, it is recommended you use a common identifier for live clip requests based on a common source stream and time range. For background on the usage of this header, please refer to the [IETF Draft](https://datatracker.ietf.org/doc/draft-ietf-httpapi-idempotency-key-header/)",
        "operationId": "MediaAssets_CreateMediaAsset",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMediaAssetModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfListOfMediaAssetResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "get": {
        "tags": [
          "MediaAssets"
        ],
        "summary": "List Media Assets",
        "description": "List media assets, excluding those that have been deleted. \nA media asset can be: \n* A `\"recording\"` that is from the full duration of the stream \n* A `\"clip\"` which is generated from [Create Media Asset](#tag/MediaAssets/operation/MediaAssets_CreateMediaAsset) \n* A `\"timeline\"` which is a series of segments that is buffered in a cache and available for clipping.  A `\"timeline\"` is capped at a 12 hour duration or whenever the stream is re-started.\n * Of type `storageValidation`, which is a record reflecting the outcome of triggering [Validate Third Party Storage Setup](#tag/Account/operation/Account_ValidateThirdPartyStorage) \n",
        "operationId": "MediaAssets_ListMediaAssets",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "default": "startTime",
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ListMediaAssetSortBy"
                }
              ]
            },
            "x-position": 1
          },
          {
            "name": "status",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Defaults to \"Processing\" and \"Complete\" unless specified. ",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/MediaAssetStatus"
              }
            },
            "x-position": 2
          },
          {
            "name": "type",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Optional. Defaults to \"Clip\" and \"Recording\" unless specified.",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/MediaAssetType"
              }
            },
            "x-position": 3
          },
          {
            "name": "name",
            "in": "query",
            "description": "Optional. Filter by media asset name. ",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "streamName",
            "in": "query",
            "description": "Optional.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "tokenId",
            "in": "query",
            "description": "Optional.",
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "sourceId",
            "in": "query",
            "description": "Optional.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "simulcastId",
            "in": "query",
            "description": "Optional. If the query parameter is provided without specifying a value, i.e. `?simulcastId&...`, response will return entries where the simulcastId is an empty string. There is no filter for unset or `null` simulcastIds. ",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "priority",
            "in": "query",
            "description": "Optional.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 10
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100.0,
              "minimum": 1.0
            },
            "x-position": 11
          },
          {
            "name": "desc",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 12
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfListOfDownloadMediaAssetModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "delete": {
        "tags": [
          "MediaAssets"
        ],
        "summary": "Delete Media Assets",
        "description": "Deletes multiple media assets from storage. Only media assets with status Complete or Error can be deleted. ",
        "operationId": "MediaAssets_DeleteMediaAssets",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "style": "form",
            "explode": true,
            "required": true,
            "schema": {
              "type": "array",
              "maxItems": 100,
              "minItems": 1,
              "nullable": true,
              "items": {
                "type": "string"
              }
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfDeleteMediaAssetsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/media/assets/{mediaAssetId}": {
      "get": {
        "tags": [
          "MediaAssets"
        ],
        "summary": "Read Media Asset",
        "description": "Gets media asset specified by id. Includes temporary download link if the media asset is complete. ",
        "operationId": "MediaAssets_ReadMediaAsset",
        "parameters": [
          {
            "name": "mediaAssetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfDownloadMediaAssetModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/media/assets/all/{type}": {
      "delete": {
        "tags": [
          "MediaAssets"
        ],
        "summary": "Delete All Media Assets",
        "description": "Deletes all media assets of a specified type from storage. ",
        "operationId": "MediaAssets_DeleteMediaAssets2",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MediaAssetType"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfDeleteMediaAssetsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v2/record_files/list": {
      "get": {
        "tags": [
          "Beta", "hidden"
        ],
        "summary": "List Media Assets",
        "description": "**Please refer to [List Media Assets](#operation/MediaAssets_ListMediaAssets)**\n \nList media assets, excluding those that have been deleted. \nA media asset can be: \n* A `\"FullRecording\"` that is from the full duration of the stream \n* A `\"Clip\"` which is generated from a clip request \n \n",
        "operationId": "RecordFilesV2_ListMediaAssets",
        "parameters": [
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "default": "RecordedOn",
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ListMediaAssetSortBy2"
                }
              ]
            },
            "x-position": 1
          },
          {
            "name": "status",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/FilterByMediaAssetStatus"
              }
            },
            "x-position": 2
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "The index to start when paginating results.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 3
          },
          {
            "name": "itemsOnPage",
            "in": "query",
            "required": true,
            "description": "The number of results to include when paginating a large result set.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 100.0,
              "minimum": 1.0
            },
            "x-position": 4
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Change the direction of the default sort ordering.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 5
          }
        ],
        "requestBody": {
          "x-name": "filterModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMediaAssetFilterParameters"
              }
            }
          },
          "required": true,
          "x-position": 6
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessListMediaAssetModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v2/record_files/{mediaAssetId}": {
      "get": {
        "tags": [
          "Beta", "hidden"
        ],
        "summary": "Read Media Asset",
        "description": "**Please refer to [Read Media Asset](#operation/MediaAssets_ReadMediaAsset)**\n \nGets media asset specified by id. Includes temporary download link if the media asset is complete. ",
        "operationId": "RecordFilesV2_ReadMediaAsset",
        "parameters": [
          {
            "name": "mediaAssetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfDownloadMediaAssetModel2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v2/record_files/delete": {
      "post": {
        "tags": [
          "Beta", "hidden"
        ],
        "summary": "Delete Media Assets",
        "description": "**Please refer to [Delete Media Assets](#operation/MediaAssets_DeleteMediaAssets)**\n \nDeletes multiple media assets from storage. Only media assets with status Complete or Error can be deleted. ",
        "operationId": "RecordFilesV2_DeleteMediaAssets",
        "requestBody": {
          "x-name": "deleteModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveMediaAssetsModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseOfDeleteMediaAssetsResponse2"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v2/publish_token/{tokenId}": {
      "put": {
        "tags": [
          "PublishTokenV2"
        ],
        "summary": "Update Token",
        "description": "Update token stream information as well as updates token itself.",
        "operationId": "PublishTokenV2_UpdateToken",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePublishTokenV2"
              },
              "examples": {
                "simple": {
                  "summary": "simple",
                  "value": {
                    "label": "new_label_name",
                    "refreshToken": true
                  }
                },
                "complex": {
                  "summary": "complex",
                  "value": {
                    "label": "new_regex_token_name",
                    "subscribeRequiresAuth": true,
                    "addTokenStreams": [
                      {
                        "streamName": "newStream1"
                      },
                      {
                        "streamName": "special_regex_stream[0-9]+",
                        "isRegex": true
                      }
                    ],
                    "removeTokenStreams": [
                      "container1/.+"
                    ]
                  }
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponsePublishTokenV2"
                },
                "examples": {
                  "simple": {
                    "summary": "simple",
                    "value": {
                      "status": "success",
                      "data": {
                        "allowedCountries": [],
                        "deniedCountries": [],
                        "subscribeRequiresAuth": false,
                        "record": false,
                        "clip": false,
                        "multisource": true,
                        "enableThumbnails": true,
                        "lowLatencyRtmp": false,
                        "integrationId": "None",
                        "displaySrtPassphrase": false,
                        "geoCascade": {
                          "isEnabled": true,
                          "clusters": [
                            "phx-1",
                            "sgp-1"
                          ]
                        },
                        "restream": [
                          {
                            "url": "rtmp://testrtmp.com",
                            "key": "5ce4d599cfd4a44131e422eaeede2929",
                            "label": "label_no_44"
                          }
                        ],
                        "drm": false,
                        "id": 59048,
                        "label": "label_no_956",
                        "token": "my-magic-token-35",
                        "addedOn": "2024-12-11T05:10:11Z",
                        "isActive": true,
                        "streams": [
                          {
                            "streamName": "stream1",
                            "isRegex": false
                          }
                        ],
                        "allowedOrigins": [],
                        "allowedIpAddresses": [],
                        "effectiveSettings": {
                          "originCluster": "phx-1",
                          "allowedCountries": [],
                          "deniedCountries": [],
                          "geoCascade": {
                            "isEnabled": true,
                            "clusters": [
                              "phx-1",
                              "sgp-1"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "regex": {
                    "summary": "regex",
                    "value": {
                      "status": "success",
                      "data": {
                        "allowedCountries": [],
                        "deniedCountries": [],
                        "subscribeRequiresAuth": true,
                        "record": false,
                        "clip": false,
                        "multisource": true,
                        "enableThumbnails": true,
                        "lowLatencyRtmp": false,
                        "integrationId": "None",
                        "displaySrtPassphrase": false,
                        "geoCascade": {
                          "isEnabled": true,
                          "clusters": [
                            "phx-1",
                            "sgp-1"
                          ]
                        },
                        "restream": [
                          {
                            "url": "rtmp://testrtmp.com",
                            "key": "5ce4d599cfd4a44131e422eaeede2929",
                            "label": "label_no_340"
                          }
                        ],
                        "drm": false,
                        "id": 68642,
                        "label": "label_no_573",
                        "token": "my-magic-token-30",
                        "addedOn": "2024-12-11T05:10:11Z",
                        "isActive": true,
                        "streams": [
                          {
                            "streamName": "stream1",
                            "isRegex": false
                          },
                          {
                            "streamName": "newStream1",
                            "isRegex": false
                          },
                          {
                            "streamName": "special_regex_stream[0-9]+",
                            "isRegex": true
                          }
                        ],
                        "allowedOrigins": [],
                        "allowedIpAddresses": [],
                        "effectiveSettings": {
                          "originCluster": "phx-1",
                          "allowedCountries": [],
                          "deniedCountries": [],
                          "geoCascade": {
                            "isEnabled": true,
                            "clusters": [
                              "phx-1",
                              "sgp-1"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                },
                "examples": {
                  "validation": {
                    "summary": "validation",
                    "value": {
                      "status": "fail",
                      "data": {
                        "token": "No properties specified to update."
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -H \"Authorization: Bearer your_api_secret\" \\\n     -H \"Content-Type: application/json\" \\\n     https://api.millicast.com/api/v2/publish_token/100 \\\n     -X PUT -d '{\"label\": \"new_label_name\", \"refreshToken\": true}'"
          },
          {
            "lang": ".NET",
            "source": "// required namespaces\nusing System;\nusing System.Net.Http;\nusing System.Net.Http.Headers;\nusing System.Text;\nusing Newtonsoft.Json;\n\nvar client = new HttpClient();\nclient.DefaultRequestHeaders.Authorization = \n  new AuthenticationHeaderValue(\n    \"Bearer\",\n    \"your_api_secret\");\nvar url = \"https://api.millicast.com/api/v2/publish_token/100\";\n\nvar data = new { label = \"new_label_name\", refreshToken = true };\nvar httpContent = new StringContent(JsonConvert.SerializeObject(data),\n  Encoding.UTF8,\n  \"application/json\");\nvar response = await client.PutAsync(url, httpContent);\nvar responseContent = await response.Content.ReadAsStringAsync();\nConsole.WriteLine(responseContent);"
          },
          {
            "lang": "Java",
            "source": "// required imports\nimport java.io.BufferedReader;\nimport java.io.DataOutputStream;\nimport java.io.InputStreamReader;\nimport java.net.HttpURLConnection;\nimport java.net.URL;\n\nURL url = new URL(\"https://api.millicast.com/api/v2/publish_token/100\");\nHttpURLConnection conn = (HttpURLConnection)url.openConnection();\nconn.setRequestProperty(\"Authorization\", \"Bearer your_api_secret\");\nconn.setRequestProperty(\"Content-Type\", \"application/json\");\nconn.setRequestMethod(\"PUT\");\n\nconn.setDoOutput(true);\nDataOutputStream wr = new DataOutputStream(conn.getOutputStream());\nwr.writeBytes(\"{\\\"label\\\": \\\"new_label_name\\\", \\\"refreshToken\\\": true}\");\nwr.close();\n\nInputStreamReader sr = new InputStreamReader(conn.getInputStream());\nBufferedReader br = new BufferedReader(sr);\nString inputLine;\nStringBuffer response = new StringBuffer();\nwhile ((inputLine = br.readLine()) != null)\n  response.append(inputLine);\nbr.close();\nSystem.out.println(response);"
          },
          {
            "lang": "Node",
            "source": "const https = require('https');\nconst URL = require('url');\n\nconst url = URL.parse('https://api.millicast.com/api/v2/publish_token/100');\nconst opts = {\n  'protocol': url.protocol,\n  'host': url.host,\n  'port': url.port,\n  'path': url.path,\n  'headers': {\n    'Authorization': 'Bearer your_api_secret',\n    'Content-Type': 'application/json'\n  }\n};\nopts['method'] = 'PUT';let req = https.request(opts, (resp) => {\n  let result = '';\n  resp.on('data', (chunk) => result += chunk);\n  resp.on('end', () => {\n    console.log(result);\n  });\n});\nvar data = {\"label\": \"new_label_name\", \"refreshToken\": true};\nreq.write(JSON.stringify(data));\nreq.end();"
          },
          {
            "lang": "PHP",
            "source": "$url = 'https://api.millicast.com/api/v2/publish_token/100';\n$headers = array(\n  'Authorization: Bearer your_api_secret',\n  'Content-Type: application/json'\n);\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, $url);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n$data = array(\"label\" => \"new_label_name\", \"refreshToken\" => TRUE );\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'PUT');\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));\n$result = curl_exec($ch);\necho($result);"
          },
          {
            "lang": "Python",
            "source": "import urllib.request\nimport json\n\nurl = 'https://api.millicast.com/api/v2/publish_token/100'\nheaders = {\n    'Authorization': 'Bearer your_api_secret',\n    'Content-Type': 'application/json'\n}\nreq = urllib.request.Request(url, headers=headers)\nreq.method = 'PUT'\ndata = {\"label\": \"new_label_name\", \"refreshToken\": True}\nreq.data = json.dumps(data).encode('utf8')\nwith urllib.request.urlopen(req) as resp:\n    result = resp.read()\nprint(result.decode('utf-8'))"
          },
          {
            "lang": "Ruby",
            "source": "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\nuri = URI('https://api.millicast.com/api/v2/publish_token/100')\nheaders = {\n  'Authorization': 'Bearer your_api_secret',\n  'Content-Type': 'application/json'\n}\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\n\ndata = {\"label\": \"new_label_name\", \"refreshToken\": true}\nres = http.put(uri, data.to_json, headers)\nputs res.body"
          }
        ]
      }
    },
    "/api/v2/subscribe_token/{tokenId}": {
      "put": {
        "tags": [
          "SubscribeTokenV2"
        ],
        "summary": "Update Token",
        "description": "Update token stream information as well as updates token itself.",
        "operationId": "SubscribeTokenV2_UpdateToken",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscribeTokenV2"
              },
              "examples": {
                "simple": {
                  "summary": "simple",
                  "value": {
                    "label": "new_label_name",
                    "refreshToken": true
                  }
                },
                "complex": {
                  "summary": "complex",
                  "value": {
                    "label": "new_regex_token_name",
                    "addTokenStreams": [
                      {
                        "streamName": "newStream1"
                      },
                      {
                        "streamName": "special_regex_stream[0-9]+",
                        "isRegex": true
                      }
                    ],
                    "removeTokenStreams": [
                      "container1/.+"
                    ]
                  }
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseSubscribeTokenV2"
                },
                "examples": {
                  "simple": {
                    "summary": "simple",
                    "value": {
                      "status": "success",
                      "data": {
                        "allowedCountries": [],
                        "deniedCountries": [],
                        "id": 467,
                        "label": "label_no_367",
                        "token": "my-magic-token-80",
                        "addedOn": "2024-12-11T04:05:35Z",
                        "isActive": true,
                        "streams": [
                          {
                            "streamName": "stream1",
                            "isRegex": false
                          }
                        ],
                        "allowedOrigins": [],
                        "allowedIpAddresses": [],
                        "effectiveSettings": {
                          "originCluster": "phx-1",
                          "allowedCountries": [],
                          "deniedCountries": []
                        }
                      }
                    }
                  },
                  "regex": {
                    "summary": "regex",
                    "value": {
                      "status": "success",
                      "data": {
                        "allowedCountries": [],
                        "deniedCountries": [],
                        "id": 67899,
                        "label": "label_no_240",
                        "token": "my-magic-token-84",
                        "addedOn": "2024-12-11T04:05:35Z",
                        "isActive": true,
                        "streams": [
                          {
                            "streamName": "stream1",
                            "isRegex": false
                          },
                          {
                            "streamName": "newStream1",
                            "isRegex": false
                          },
                          {
                            "streamName": "special_regex_stream[0-9]+",
                            "isRegex": true
                          }
                        ],
                        "allowedOrigins": [],
                        "allowedIpAddresses": [],
                        "effectiveSettings": {
                          "originCluster": "phx-1",
                          "allowedCountries": [],
                          "deniedCountries": []
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                },
                "examples": {
                  "validation": {
                    "summary": "validation",
                    "value": {
                      "status": "fail",
                      "data": {
                        "token": "No properties specified to update."
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -H \"Authorization: Bearer your_api_secret\" \\\n     -H \"Content-Type: application/json\" \\\n     https://api.millicast.com/api/v2/subscribe_token/100 \\\n     -X PUT -d '{\"label\": \"new_label_name\", \"refreshToken\": true}'"
          },
          {
            "lang": ".NET",
            "source": "// required namespaces\nusing System;\nusing System.Net.Http;\nusing System.Net.Http.Headers;\nusing System.Text;\nusing Newtonsoft.Json;\n\nvar client = new HttpClient();\nclient.DefaultRequestHeaders.Authorization = \n  new AuthenticationHeaderValue(\n    \"Bearer\",\n    \"your_api_secret\");\nvar url = \"https://api.millicast.com/api/v2/subscribe_token/100\";\n\nvar data = new { label = \"new_label_name\", refreshToken = true };\nvar httpContent = new StringContent(JsonConvert.SerializeObject(data),\n  Encoding.UTF8,\n  \"application/json\");\nvar response = await client.PutAsync(url, httpContent);\nvar responseContent = await response.Content.ReadAsStringAsync();\nConsole.WriteLine(responseContent);"
          },
          {
            "lang": "Java",
            "source": "// required imports\nimport java.io.BufferedReader;\nimport java.io.DataOutputStream;\nimport java.io.InputStreamReader;\nimport java.net.HttpURLConnection;\nimport java.net.URL;\n\nURL url = new URL(\"https://api.millicast.com/api/v2/subscribe_token/100\");\nHttpURLConnection conn = (HttpURLConnection)url.openConnection();\nconn.setRequestProperty(\"Authorization\", \"Bearer your_api_secret\");\nconn.setRequestProperty(\"Content-Type\", \"application/json\");\nconn.setRequestMethod(\"PUT\");\n\nconn.setDoOutput(true);\nDataOutputStream wr = new DataOutputStream(conn.getOutputStream());\nwr.writeBytes(\"{\\\"label\\\": \\\"new_label_name\\\", \\\"refreshToken\\\": true}\");\nwr.close();\n\nInputStreamReader sr = new InputStreamReader(conn.getInputStream());\nBufferedReader br = new BufferedReader(sr);\nString inputLine;\nStringBuffer response = new StringBuffer();\nwhile ((inputLine = br.readLine()) != null)\n  response.append(inputLine);\nbr.close();\nSystem.out.println(response);"
          },
          {
            "lang": "Node",
            "source": "const https = require('https');\nconst URL = require('url');\n\nconst url = URL.parse('https://api.millicast.com/api/v2/subscribe_token/100');\nconst opts = {\n  'protocol': url.protocol,\n  'host': url.host,\n  'port': url.port,\n  'path': url.path,\n  'headers': {\n    'Authorization': 'Bearer your_api_secret',\n    'Content-Type': 'application/json'\n  }\n};\nopts['method'] = 'PUT';let req = https.request(opts, (resp) => {\n  let result = '';\n  resp.on('data', (chunk) => result += chunk);\n  resp.on('end', () => {\n    console.log(result);\n  });\n});\nvar data = {\"label\": \"new_label_name\", \"refreshToken\": true};\nreq.write(JSON.stringify(data));\nreq.end();"
          },
          {
            "lang": "PHP",
            "source": "$url = 'https://api.millicast.com/api/v2/subscribe_token/100';\n$headers = array(\n  'Authorization: Bearer your_api_secret',\n  'Content-Type: application/json'\n);\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, $url);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n$data = array(\"label\" => \"new_label_name\", \"refreshToken\" => TRUE );\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'PUT');\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));\n$result = curl_exec($ch);\necho($result);"
          },
          {
            "lang": "Python",
            "source": "import urllib.request\nimport json\n\nurl = 'https://api.millicast.com/api/v2/subscribe_token/100'\nheaders = {\n    'Authorization': 'Bearer your_api_secret',\n    'Content-Type': 'application/json'\n}\nreq = urllib.request.Request(url, headers=headers)\nreq.method = 'PUT'\ndata = {\"label\": \"new_label_name\", \"refreshToken\": True}\nreq.data = json.dumps(data).encode('utf8')\nwith urllib.request.urlopen(req) as resp:\n    result = resp.read()\nprint(result.decode('utf-8'))"
          },
          {
            "lang": "Ruby",
            "source": "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\nuri = URI('https://api.millicast.com/api/v2/subscribe_token/100')\nheaders = {\n  'Authorization': 'Bearer your_api_secret',\n  'Content-Type': 'application/json'\n}\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\n\ndata = {\"label\": \"new_label_name\", \"refreshToken\": true}\nres = http.put(uri, data.to_json, headers)\nputs res.body"
          }
        ]
      }
    },
    "/api/analytics/account/total": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Account Total",
        "description": "Get total usage on account over a date range.",
        "operationId": "Analytics_AccountTotal",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "The start date of the query. In the format of `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-position": 1
          },
          {
            "name": "stopDate",
            "in": "query",
            "required": true,
            "description": "The end date of the query. In the format of `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessAccountBandwidthTotalAnalyticModel"
                },
                "examples": {
                  "simple": {
                    "summary": "simple",
                    "value": {
                      "status": "success",
                      "data": {
                        "bytesOut": 250000,
                        "bytesIn": 500000000,
                        "standardStream": {
                          "bytesOut": 100000,
                          "bytesIn": 500000000
                        },
                        "restream": {
                          "secondsUsed": 10,
                          "bytesOut": 50000,
                          "bytesIn": 0
                        },
                        "geoCascade": {
                          "bytesOut": 100000,
                          "bytesIn": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -H \"Authorization: Bearer your_api_secret\" \\\n     -H \"Content-Type: application/json\" \\\n     https://api.millicast.com/api/analytics/account/total \\\n     -G -d \"startDate=2020-01-01&stopDate=2020-04-01\""
          }
        ]
      }
    },
    "/api/analytics/account/series": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Account Series",
        "description": "Get usage as a time series on account over a date range.\nResponse keys are ISO 8601 dates from requested resolution.",
        "operationId": "Analytics_AccountSeries",
        "parameters": [
          {
            "name": "resolution",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AnalyticsResolution"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "The start date of the query. In the format of `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-position": 2
          },
          {
            "name": "stopDate",
            "in": "query",
            "required": true,
            "description": "The end date of the query. In the format of `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessAccountBandwidthSeriesAnalyticModel"
                },
                "examples": {
                  "month": {
                    "summary": "month",
                    "value": {
                      "status": "success",
                      "data": {
                        "bandwidth": {
                          "2020-01-01T00:00:00Z": {
                            "bytesOut": 20150,
                            "bytesIn": 5000
                          },
                          "2020-02-01T00:00:00Z": {
                            "bytesOut": 400,
                            "bytesIn": 50
                          }
                        },
                        "standardStream": {
                          "2020-01-01T00:00:00Z": {
                            "bytesOut": 10000,
                            "bytesIn": 5000
                          },
                          "2020-02-01T00:00:00Z": {
                            "bytesOut": 100,
                            "bytesIn": 50
                          }
                        },
                        "restream": {
                          "2020-01-01T00:00:00Z": {
                            "secondsUsed": 10,
                            "bytesOut": 150,
                            "bytesIn": 0
                          },
                          "2020-02-01T00:00:00Z": {
                            "secondsUsed": 12,
                            "bytesOut": 200,
                            "bytesIn": 0
                          }
                        },
                        "geoCascade": {
                          "2020-01-01T00:00:00Z": {
                            "bytesOut": 10000,
                            "bytesIn": 0
                          },
                          "2020-02-01T00:00:00Z": {
                            "bytesOut": 100,
                            "bytesIn": 0
                          }
                        }
                      }
                    }
                  },
                  "day": {
                    "summary": "day",
                    "value": {
                      "status": "success",
                      "data": {
                        "bandwidth": {
                          "2020-03-01T00:00:00Z": {
                            "bytesOut": 20150,
                            "bytesIn": 5000
                          },
                          "2020-03-02T00:00:00Z": {
                            "bytesOut": 400,
                            "bytesIn": 50
                          }
                        },
                        "standardStream": {
                          "2020-03-01T00:00:00Z": {
                            "bytesOut": 10000,
                            "bytesIn": 5000
                          },
                          "2020-03-02T00:00:00Z": {
                            "bytesOut": 100,
                            "bytesIn": 50
                          }
                        },
                        "restream": {
                          "2020-03-01T00:00:00Z": {
                            "secondsUsed": 10,
                            "bytesOut": 150,
                            "bytesIn": 0
                          },
                          "2020-03-02T00:00:00Z": {
                            "secondsUsed": 12,
                            "bytesOut": 200,
                            "bytesIn": 0
                          }
                        },
                        "geoCascade": {
                          "2020-03-01T00:00:00Z": {
                            "bytesOut": 10000,
                            "bytesIn": 0
                          },
                          "2020-03-02T00:00:00Z": {
                            "bytesOut": 100,
                            "bytesIn": 0
                          }
                        }
                      }
                    }
                  },
                  "hour": {
                    "summary": "hour",
                    "value": {
                      "status": "success",
                      "data": {
                        "bandwidth": {
                          "2020-03-01T00:00:00Z": {
                            "bytesOut": 20150,
                            "bytesIn": 5000
                          },
                          "2020-03-01T01:00:00Z": {
                            "bytesOut": 400,
                            "bytesIn": 50
                          }
                        },
                        "standardStream": {
                          "2020-03-01T00:00:00Z": {
                            "bytesOut": 10000,
                            "bytesIn": 5000
                          },
                          "2020-03-01T01:00:00Z": {
                            "bytesOut": 100,
                            "bytesIn": 50
                          }
                        },
                        "restream": {
                          "2020-03-01T00:00:00Z": {
                            "secondsUsed": 10,
                            "bytesOut": 150,
                            "bytesIn": 0
                          },
                          "2020-03-01T01:00:00Z": {
                            "secondsUsed": 12,
                            "bytesOut": 200,
                            "bytesIn": 0
                          }
                        },
                        "geoCascade": {
                          "2020-03-01T00:00:00Z": {
                            "bytesOut": 10000,
                            "bytesIn": 0
                          },
                          "2020-03-01T01:00:00Z": {
                            "bytesOut": 100,
                            "bytesIn": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -H \"Authorization: Bearer your_api_secret\" \\\n     -H \"Content-Type: application/json\" \\\n     https://api.millicast.com/api/analytics/account/series \\\n     -G -d \"startDate=2020-01-01&stopDate=2020-04-01&resolution=Month\""
          }
        ]
      }
    },
    "/api/analytics/account/geo_total": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Account Geo Total",
        "description": "Get bandwidth and duration per country code on account over a date range.\nResponse keys are ISO 3166-1 alpha-2 country codes.",
        "operationId": "Analytics_AccountGeoTotal",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "The start date of the query. In the format of `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-position": 1
          },
          {
            "name": "stopDate",
            "in": "query",
            "required": true,
            "description": "The end date of the query. In the format of `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessAccountGeoTotalAnalyticModel"
                },
                "examples": {
                  "simple": {
                    "summary": "simple",
                    "value": {
                      "status": "success",
                      "data": {
                        "geo": {
                          "US": {
                            "bytesOut": 100000000,
                            "bytesIn": 50000000,
                            "duration": 135
                          },
                          "MX": {
                            "bytesOut": 50000000,
                            "bytesIn": 2500000,
                            "duration": 112
                          },
                          "CA": {
                            "bytesOut": 200000000,
                            "bytesIn": 10000000,
                            "duration": 50
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -H \"Authorization: Bearer your_api_secret\" \\\n     -H \"Content-Type: application/json\" \\\n     https://api.millicast.com/api/analytics/account/geo_total \\\n     -G -d \"startDate=2020-01-01&stopDate=2020-04-01\""
          }
        ]
      }
    },
    "/api/analytics/account/geo_series": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Account Geo Series",
        "description": "Get bandwidth, duration, publishes, and views as a time series per country code on account over a date range.\nResponse keys are ISO 8601 dates from requested resolution, followed by keys for ISO 3166-1 alpha-2 country codes.",
        "operationId": "Analytics_AccountGeoSeries",
        "parameters": [
          {
            "name": "resolution",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StreamsAnalyticsResolution"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "The start date of the query. In the format of `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-position": 2
          },
          {
            "name": "stopDate",
            "in": "query",
            "required": true,
            "description": "The end date of the query. In the format of `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessAccountGeoSeriesAnalyticModel"
                },
                "examples": {
                  "simple": {
                    "summary": "simple",
                    "value": {
                      "status": "success",
                      "data": {
                        "geo": {
                          "2020-03-01T00:00:00Z": {
                            "US": {
                              "bytesOut": 500000000,
                              "bytesIn": 40000000,
                              "duration": 135,
                              "publishes": 1,
                              "views": 5
                            },
                            "MX": {
                              "bytesOut": 400000000,
                              "bytesIn": 0,
                              "duration": 185,
                              "publishes": 0,
                              "views": 4
                            },
                            "CA": {
                              "bytesOut": 100000000,
                              "bytesIn": 0,
                              "duration": 59,
                              "publishes": 0,
                              "views": 1
                            }
                          },
                          "2020-03-01T01:00:00Z": {
                            "US": {
                              "bytesOut": 200000000,
                              "bytesIn": 30000000,
                              "duration": 135,
                              "publishes": 1,
                              "views": 2
                            },
                            "MX": {
                              "bytesOut": 300000000,
                              "bytesIn": 0,
                              "duration": 135,
                              "publishes": 0,
                              "views": 3
                            },
                            "CA": {
                              "bytesOut": 100000000,
                              "bytesIn": 0,
                              "duration": 39,
                              "publishes": 0,
                              "views": 1
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -H \"Authorization: Bearer your_api_secret\" \\\n     -H \"Content-Type: application/json\" \\\n     https://api.millicast.com/api/analytics/account/geo_series \\\n     -G -d \"startDate=2020-01-01&stopDate=2020-04-01&resolution=Hour\""
          }
        ]
      }
    },
    "/api/analytics/streams/total": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Streams Total",
        "description": "Get total usage on specified streamnames over a date range.\nResponse keys are requested streamnames.",
        "operationId": "Analytics_StreamsTotal",
        "parameters": [
          {
            "name": "streamNames",
            "in": "query",
            "style": "form",
            "explode": true,
            "required": true,
            "description": "Each string must be <= 128 characters",
            "schema": {
              "type": "array",
              "maxItems": 10,
              "items": {
                "type": "string"
              }
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "The start date of the query. In the format of `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-position": 2
          },
          {
            "name": "stopDate",
            "in": "query",
            "required": true,
            "description": "The end date of the query. In the format of `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessStreamsBandwidthTotalAnalyticModel"
                },
                "examples": {
                  "single": {
                    "summary": "single",
                    "value": {
[...]
