/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-image: url('/img/hero-banner.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1.5rem;
    background-image: none;
  }
}
