.platformItem,
.platformValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  gap: 0.5em;
}

.platformIcon {
  flex-shrink: 0;
}

.platformItem .platformIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.platformValue .platformIcon {
  width: 1rem;
  height: 1rem;
}

.platformLabel {
  flex-grow: 1;
}

.platformItem,
.platformValue,
.platformLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
