@font-face {
  font-family: 'avenir-next-demi';
  src:
    url('fonts/avenir-next-lt-pro/demi.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/demi.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-demi-it';
  src:
    url('fonts/avenir-next-lt-pro/demi-it.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/demi-it.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-bold';
  src:
    url('fonts/avenir-next-lt-pro/bold.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/bold.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-bold-it';
  src:
    url('fonts/avenir-next-lt-pro/bold-it.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/bold-it.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-regular';
  src:
    url('fonts/avenir-next-lt-pro/regular.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/regular.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-it';
  src:
    url('fonts/avenir-next-lt-pro/it.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/it.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-medium';
  src:
    url('fonts/avenir-next-lt-pro/medium.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/medium.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-medium-it';
  src:
    url('fonts/avenir-next-lt-pro/medium-it.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/medium-it.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-ultra-lt';
  src:
    url('fonts/avenir-next-lt-pro/ultra-lt.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/ultra-lt.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-ult-lt-it';
  src:
    url('fonts/avenir-next-lt-pro/ult-lt-it.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/ult-lt-it.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-thin';
  src:
    url('fonts/avenir-next-lt-pro/thin.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/thin.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-thin-it';
  src:
    url('fonts/avenir-next-lt-pro/thin-it.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/thin-it.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-heavy';
  src:
    url('fonts/avenir-next-lt-pro/heavy.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/heavy.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-heavy-it';
  src:
    url('fonts/avenir-next-lt-pro/heavy-it.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/heavy-it.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-lt';
  src:
    url('fonts/avenir-next-lt-pro/lt.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/lt.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-lt-it';
  src:
    url('fonts/avenir-next-lt-pro/lt-it.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/lt-it.woff') format('woff');
}
