@font-face {
  font-family: 'avenir-next-lt-pro';
  font-weight: 600;
  font-style: normal;
  src:
    url('fonts/avenir-next-lt-pro/demi.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/demi.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-lt-pro';
  font-weight: 600;
  font-style: italic;
  src:
    url('fonts/avenir-next-lt-pro/demi-it.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/demi-it.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-lt-pro';
  font-weight: 700;
  font-style: normal;
  src:
    url('fonts/avenir-next-lt-pro/bold.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/bold.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-lt-pro';
  font-weight: 700;
  font-style: italic;
  src:
    url('fonts/avenir-next-lt-pro/bold-it.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/bold-it.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-lt-pro';
  font-weight: 400;
  font-style: normal;
  src:
    url('fonts/avenir-next-lt-pro/regular.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/regular.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-lt-pro';
  font-weight: 400;
  font-style: italic;
  src:
    url('fonts/avenir-next-lt-pro/it.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/it.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-lt-pro';
  font-weight: 500;
  font-style: normal;
  src:
    url('fonts/avenir-next-lt-pro/medium.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/medium.woff') format('woff');
}
@font-face {
  font-family: 'avenir-next-lt-pro';
  font-weight: 500;
  font-style: italic;
  src:
    url('fonts/avenir-next-lt-pro/medium-it.woff2') format('woff2'),
    url('fonts/avenir-next-lt-pro/medium-it.woff') format('woff');
}
