.platformDropdownItem {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.platformDropdownIcon {
  min-width: 20px;
}

.platformDropdownItemContent {
  flex-grow: 1;
}
