.platformDropdownItem {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.platformDropdownIcon {
  min-width: 40px;
  min-height: 40px;
}

.platformDropdownItemContent {
  flex-grow: 1;
}
