name: Deploy to production
on:
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: production
  cancel-in-progress: true
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    # Permissions needed to interact with GitHub's OIDC Token endpoint
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true
      # Build the website
      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - run: npm ci
      - run: npm run build
        env:
          THEOPLAYER_LICENSE: ${{ vars.THEOPLAYER_LICENSE }}
          DOCUSAURUS_BASE_URL: /docs/
      # Deploy to S3
      # See https://github.com/aws-actions/configure-aws-credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::548863597864:role/optiview-docs-github
          aws-region: us-west-2
      - name: Deploy to S3
        run: |
          aws s3 sync --delete ./build s3://docs-optiview-dolby-com-0-20250401191057436800000003/docs/
      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation --distribution-id EKPRWRE0B1EQ4 --paths '/*'
