name: Auto-open PRs for THEOplayer releases
on:
  push:
    branches:
      - 'release/theoplayer-**'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true
      - name: Check if pull request already exists
        id: check_pr_exists
        run: |
          pr_exists = $(gh pr list --base main --head $GITHUB_REF --state open --limit 1 --json number --jq length)
          echo "result=$pr_exists\n" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create pull request
        if: ${{ steps.check_pr_exists.outputs.result == '0' }}
        run: |
          theoplayer_version = $(<theoplayer/version.txt)
          commit_msg = $(git log -1 --pretty=%s)
          gh pr create --base main --title "THEOplayer ${theoplayer_version}" --body "This PR contains the new documentation and API references for THEOplayer version ${theoplayer_version}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
